$nav-color:(
    primary:212529,
    text-color:#fff,
    hover-color: #696969
);
body{
    background-color: map-get($map: $color, $key: primary);
    font-family:monospace;
    margin: 0;
}

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
nav {
  background-color: map-get($map: $nav-color, $key: primary);
  li {
    margin: 20px;
    list-style: none;
    display: inline-block;
    a{
        text-decoration: none;
        color: map-get($map: $nav-color, $key: text-color);
        padding: 20px;
    }
    a:hover{
        background-color: map-get($map: $nav-color, $key: hover-color);;
    }
  }

}



